/*#region UI: Post */
.Post {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 5px 7px -7px rgba(0, 0, 0, 0.75);
  margin-top: 15px;
  width: 100%;

  .Post__top {
    align-items: center;
    display: flex;
    padding: 15px;
    position: relative;

    .Post__avatar {
      margin-right: 10px;
    }

    .Post__topInfo {
      & h3 {
        font-size: medium;
      }

      & p {
        color: gray;
        font-size: small;
      }
    }
  }

  .Post__bottom {
    margin: 10px 0;
    padding: 15px 25px;
  }

  .Post__image {
    & img {
      width: 100%;
    }
  }

  .Post__options {
    border-top: 1px solid lightgray;
    color: gray;
    display: flex;
    font-size: medium;
    justify-content: space-evenly;
    padding: 10px 15px 15px 15px;

    .Post__option {
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: center;
      padding: 5px;

      &:hover {
        background-color: #eff2f5;
        border-radius: 10px;
        cursor: pointer;
      }

      & p {
        margin-left: 10px;
      }
    }
  }
}
/*#endregion /UI: Post */
