/*#region UI: Header */
.Header {
  background-color: white;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  position: sticky;
  top: 0;
  z-index: 100;

  .Header__left {
    align-items: center;
    display: flex;
    justify-content: space-evenly;

    & img {
      height: 40px;
    }

    .Header__input {
      align-items: center;
      background-color: #eff2f5;
      border-radius: 999px;
      color: gray;
      display: flex;
      margin-left: 10px;
      padding: 10px;

      & input {
        background-color: transparent;
        border: none;
        font-size: 14px;
        margin-left: 8px;
        outline-width: 0;
      }
    }
  }

  .Header__center {
    display: flex;
    flex: 1;
    justify-content: center;

    .Header__option {
      align-items: center;
      cursor: pointer;
      display: flex;
      padding: 0 60px;

      & .MuiSvgIcon-root {
        color: gray;
      }

      &:hover {
        align-items: center;
        background-color: #eff2f5;
        border-bottom: none;
        border-radius: 10px;
        padding: 0 60px;

        & .MuiSvgIcon-root {
          color: #2e81f4;
        }
      }
    }

    .Header__option-active {
      border-bottom: 3px solid #2e81f4;

      & .MuiSvgIcon-root {
        color: #2e81f4;
      }
    }
  }

  .Header__right {
    display: flex;

    .Header__info {
      align-items: center;
      display: flex;
      margin-right: 10px;

      & h4 {
        margin-left: 10px;
      }
    }
  }
}
/*#endregion /UI: Header */
